Flask==2.1.2
scikit-learn==1.5.1  # Updated version to avoid numpy issues
numpy==1.22.4         # Compatible with scikit-learn 1.0.2
pandas                # If you're using pandas, don't specify version unless necess
gunicorn
Werkzeug==2.2.3
